@import "../shared/colors.scss";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #d4d4d4;
  border-radius: 5px;
  .top {
    display: flex;
    width: 100%;
  }
  .info {
    display: flex;
  }
  .divider {
    position: relative;
    width: 1px;
    height: 50px;
    background-color: #ebebee;
    margin: auto 10px;
  }
  .statusMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: italic;
    padding-left: 10px;
    svg {
      margin-right: 5px;
      font-size: 12px;
    }
  }
  .pushRight {
    width: 1px;
    margin-left: auto;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    div {
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div:first-child {
      color: rgba(1, 1, 1, 0.5);
      font-size: 0.9em;
      padding-bottom: 8px;
      display: flex;
      align-items: center;
      color: $freelancer;
      font-weight: 500;
      svg {
        width: 15px;
        margin-right: 8px;
      }
    }
    div:last-child {
      display: flex;
      justify-content: center;
      color: rgba(1, 1, 1, 0.8);
    }
  }
  .controller {
    display: flex;
    margin-left: auto;
    button {
      transition: all 0.2s;
      width: fit-content;
      height: 38px;
      padding: 0 10px;
      border: 1px solid #ffffff;
      background-color: $freelancer;
      color: #fff;
      font-size: 13px;
      font-weight: 500;
      border-radius: 5px;
      margin-right: 5px;
      &:hover {
        background-color: #ffffff;
        border: 1px solid $freelancer;
        color: $freelancer;
      }
    }
  }
}

.adminCard {
  border-color: $freelancer;
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;

    .top {
      flex-direction: column;
    }
    .info {
      flex-direction: column;
      margin-bottom: 20px;
      .divider {
        display: none;
      }
      .row {
        margin-bottom: 20px;
      }
    }
    .controller {
      margin: 0 auto;
      align-items: center;
      flex-direction: column;
      button {
        margin-bottom: 10px;
      }
    }
  }
}
